html {scroll-behavior: smooth;
scroll-padding-top: 100px;}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ffffff;
    color: #000000; }


/* NAVBAR */
.navbar {
    width: 90%;
    max-width: 1500px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(253, 253, 253);
    box-shadow: 0 4px 18px rgba(0,0,0,0.1);
    padding: 15px 10px;
    position: sticky;
    top: 15px;
    border-radius: 50px;
    border-color: #000;
}
.websitelogo{
    height:80px;
    width:80px;
    border-radius: 50%;
    align-items: left;
    margin-left: 20px;
}
.navbar ul {
    list-style: none;
    display: flex;
    gap: 50px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

.navbar a {
    color: #00050a;
    text-decoration: none;
}

.navbar a.active {
    color: black;
    background-color: #facc15;
    padding: 6px 12px;
    border-radius: 20px;
    transition: 1s;
    
}


/* HERO AREA */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
    flex-wrap: wrap;
}
.hero-text {
    flex: 1 1 55%;
    color: #847e7e;
    min-width: 260px;
}

.greeting {
    color: #000000; 
    font-size: 55px;
    margin:  0;
    
}
.main-title {
    color: #facc15; 
    font-size: 55px;
    margin:  0;
}
.subtitle {
    
    margin: auto;
    /* opacity: 0.5; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    
}
.Aboutfirst{
    font-size: 55px;
    color: #facc15;
    margin-left: 132px;
    
}
.Aboutlast{
    font-size: 22px;
    color: #847e7e;
    margin-left: 132px;
    font-family: Arial, Helvetica, sans-serif;
}

.photo {
    flex: 0 0 350px;
    height: 500px;      /* keeps aspect ratio */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; /* optional: rounded corners */

}
.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
    pointer-events: none;
}

.hero-btn {
    margin-top: 20px;
    background: #f2c94c;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    
}
.modal {
  display: none; 
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 350px;
  text-align: center;
}

.contact-option {
  display: block;
  margin: 10px 0;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.close {
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.hero-btn2 {
    margin-top: 20px;
    background: rgb(255, 255, 255);
    color: #000;
    border-color: rgba(73, 76, 74, 0.091);
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

#btn_projects {
    color: black;
} 

.social-links img {
  width: 32px;
  height: 32px;
  transition: 0.2s;
}

.social-links img:hover {
  transform: translateY(-3px);
}
    
.social-links {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.projects-row {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 100px auto;
    max-width: 900px;
    flex-wrap: wrap;
}
.projecttext{
    font-size: 55px;
    text-align: left;
    color: #facc15;
    width: 100%;
    margin-bottom: 40px;
    margin-left: 132px;
}
.cardtitle{
    color: #facc15;
    margin-top: 0;
}
/* PROJECT CARD */
.projects-row .project-card {
    flex: 0 1 320px;        /* base width, grows/shrinks */
    max-width: 360px;
    box-sizing: border-box;
    background: #fff;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}
.project-card img {
    width: 100%;
    border-radius: 8px;
}

/* FOOTER */
footer {
    background: #bdc5d1;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .photo {
        margin-top: 20px;
    }

    .main-title, .greeting {
        font-size: 35px;
    }

    .subtitle {
        font-size: 18px;
    }
}